/* Stylesheet for 720px and up. */
body {
    padding: 0;
    font-size: 18px;
}
body > header h1 {
    display: block;
    text-align: center;
    text-indent: 0;
    padding: 115px 0 0 0;
    background-position: center top;
    width: auto;
    height: auto;
    margin-bottom: 0.5em;
}
body > header h1 span {
    display: inline;
}
body > section {
    position: relative;
    z-index: 1;
}
.home > section article {
    background: url('../img/cloud5.png') no-repeat center top;
}
.home > section article:nth-child(even) {
    padding-top: 12em;
    background-position: center 12em;
}
.home > section article div {
    background: #144596;
    background: rgba(15, 70, 145, 0.4);
    border: 2px solid #fafafa;
    margin: 6.5em 7% 2%;
    width: 79.9%;
}
.home > section article div h3 a {
    text-decoration: none;
}
.home > section article div p {
    color: #f6f6f6;
    text-shadow: 0 -1px 0 #333;
}
.home > section article div a {
    color: #57db57;
    text-shadow: 0 -1px 0 #555;
}
.home > footer,
.services > footer,
.portfolio > footer {
    background: url('../img/testbg.png') no-repeat right bottom;
    height: 528px;
    position: relative;
    z-index: 0;
    margin-top: -8em;
}
.home .foottext,
.services .foottext,
.portfolio .foottext {
    background: rgba(50, 139, 54, 0.14);
}
.home .foottext span, .home .foottext span a,
.services .foottext span, .services .foottext span a,
.portfolio .foottext span, .portfolio .foottext span a {
    color: #fff;
}
footer nav {
    clear: both;
    margin-bottom: 0;
}
footer nav ul {
    overflow: hidden;
    padding-top: 20em;
}
footer nav ul li {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    width: 16.33%;
    margin: 0;
    padding: 0;
}
footer nav ul li a {
    font-size: 1.4em;
}
.foottext .logo {
    width: 320px;
    background-position: left top;
    float: left;
}
.foottext p span {
    display: block;
    text-align: right;
    margin-right: 2%;
}
.foottext .copyright {
    padding-top: 2em;
}

/* Article styling */
.article {
    background: #5c98c5;
    background: -webkit-linear-gradient(top, #427b9c, #629fca 200px, #629fca);
    background: -moz-linear-gradient(top, #427b9c, #629fca 200px, #629fca);
}
.article > header {
    position: relative;
    z-index: 2;
}
.article > header h1 {
    width: auto;
    font-size: 6.8em;
    height: 150px;
    text-align: left;
    padding-top: 15px;
    text-indent: 130px;
    background-position: left top;
}
.article > header h1 span {
    display: inline-block;
    text-indent: 0;
}
.article #skiplink {
    text-align: left;
    margin-left: 2%;
}
.article > section > header {
    background: url('../img/testbg.png') no-repeat right bottom;
    min-height: 250px;
    padding-top: 278px;
    position: relative;
    z-index: 0;
    margin-top: -14em;
}
.article > section > header h2,
.article > section > header h3 {
    text-align: left;
    margin: 0 2% 0.83em;
    text-shadow: 0 -1px 0 #111;
}
.article > section > header h2 { font-size: 2.4em; }
.article > section > header h3 { font-size: 1.5em; margin-bottom: 0; padding-bottom: 1em; }
.article > section > div {
    display: block;
    position: relative;
    z-index: 1;
    padding: 20px 0 4em;
    background: url('../img/dirtbg.jpg') left top repeat;
    overflow: hidden;
}
.article > section > div:before,
.article > section > div:after {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.article > section > div:before {
    content: "";
    background: url('../img/dirt-cover-1.png') left top repeat;
}
.article > section > div:after {
    content: "";
    background: url('../img/dirt-cover-2.png') left top repeat;
    background: -webkit-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.95)), url('../img/dirt-cover-2.png') left top repeat;
    background: -moz-linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.95)), url('../img/dirt-cover-2.png') left top repeat;
}
.article article, .article aside {
    background: #eee;
    background: rgba(48, 32, 13, 0.4);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    margin: 1em 2% 2em;
    padding: 2%;
    -webkit-box-shadow: inset 1px 1px 5px 4px #111;
    -moz-box-shadow: inset 1px 1px 5px 4px #111;
    -o-box-shadow: inset 1px 1px 5px 4px #111;
    -ms-box-shadow: inset 1px 1px 5px 4px #111;
    width: 72%;
    float: left;
}
.article aside {
    width: 14%;
    margin: 1em 2% 2em 0;
}
.article aside h4 {
    font-family: 'SteelfishBold', sans-serif;
    font-size: 2em;
    color: #c9c9c9;
}
.article article p,
.article article li,
.article aside li {
    color: #e0e0e0;
    margin-top: 0;
}
.article article blockquote p {
    margin-top: 1em;
}
.article .CodeRay {
    padding: 2%;
}
.article article h3 {
    font-size: 1.47em;
}
.article article h3,
.article article h4,
.article article h5,
.article article h6 {
    color: #e6e6e6;
    text-align: left;
}
.article footer {
    min-height: 460px;
    height: auto;
    background: #040303 url('../img/footer.jpg') no-repeat center bottom;
    position: relative;
    background-size: auto;
}
.article footer nav ul { padding-top: 2em; }
.article footer nav ul li a {
    text-decoration: none;
}
.article footer section {
    width: 80%;
    margin: 0 auto;
}
.article footer section div {
    width: 26%;
    float: left;
    margin: 4em 1.3% 0;
    background: #222;
    background: rgba(0,0,0,0.55);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    padding: 2%;
    border: 1px solid #666;
}
.article footer h3 { color: #9c9c9c; }
.article footer p { color: #c9c9c9; }
.article footer nav { margin-top: 0; }
.article .foottext p {
    margin-bottom: 0;
}

/* Portfolio list page */
.portfolio h2 { 
    background: url('../img/cloud5.png') no-repeat center top;
    padding-top: 3.6em;
}
.portfolio section ul li div { padding: 10%; }
.portfolio section ul li { width: 24.85%; }
.portfolio section ul li img {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
}

/* Services page */
.services h2 {
    background: url('../img/cloud5.png') no-repeat center top;
    padding-top: 3.6em;
}
.services ol li {
    width: 25%;
    margin: 1em 4%;
    float: left;
}
.services ol li:nth-child(4) {
    float: none;
    clear: both;
    width: 90%;
    margin: 1em auto;
    background: #3f76a4;
    background: rgba(9, 42, 86, 0.5);
    border: 1px solid #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    padding: 1em 2%;
}
.services ol li:nth-child(4) h3 {
    text-align: left;
    font-size: 1.9em;
    text-indent: 460px;
    height: 100px;
    padding-top: 50px;
    margin-left: -2.25%;
    background: url('../img/branchout.png') no-repeat left center;
}
.services ol li h3 { display: block; }
.services ol li img {
    float: none;
    width: 100%;
    margin-right: 0;
}
