%section
  %h2 Talk to us, we'll listen.
  %section.contactform
    %form(action="/contact" method="post")
      %label(for="name") Your name:
      %input(type="text" id="name" name="name")/
      %label(for="email") Your email:
      %input(type="email" id="email" name="email")/
      %label(for="phone") Your phone #:
      %input(type="tel" id="phone" name="phone")/
      %label(for="message") How can we help you?
      %textarea(id="message" name="message")
      %input(type="submit" value="Drop us a line")

    %h3 In a hurry? Enter your email address and we'll get back to you!
    %form(action="/quickcontact" method="post")
      %label(for="qcemail") Your email address:
      %input(type="email" id="qcemail" name="qcemail")/
      %input(type="submit" value="Drop us a line")
