%section
  %h2 Whoops.

  %p
    Something bad happened while we were trying to serve up your page. Please remain calm, pour
    yourself your favorite beverage, and check back later. And if all else fails, please
    <a href="http://icanhascheezburger.com/">enjoy these cats</a>.

