Title: Services - Arbor Web Solutions

%section
  %h2 Services for every stage of your site.
  %p Arbor Web Solutions provides world-class solutions in <strong>WordPress, Django, and Sinatra</strong>, as well as custom web application development, web and mobile site design, user experience testing, and more.
  %ol
    %li
      %h3 Roots.
      %img{:src => "/img/roots.jpg", :alt => ""}
      %p
        All Arbor Web Solutions sites begin at the roots – markup. We use the 
        latest technologies, like <strong>HTML5 and CSS3</strong>, to give your site a solid 
        foundation. These standards-based roots allow your site to stand firm, 
        making it faster-loading and better ranked in search engines.
    %li
      %h3 Growth.
      %img{:src => "/img/growth.jpg", :alt => ""}
      %p
        As your needs grow, your site can grow along with them. Through custom-tailored
        <strong>content management systems</strong>, Arbor Web Solutions makes it easy 
        for your site to expand from five pages to five hundred pages – or more. And your
        site can grow on your terms - no need to call tech support.
    %li
      %h3 Adaptation.
      %img{:src => "/img/adaptation.jpg", :alt => ""}
      %p
        The Internet is changing. Thankfully, your site can change too. Arbor 
        Web Solutions develops sites that effortlessly adapt to whatever screen 
        they find themselves on – including phones, tablets, laptops, and even 
        televisions. <strong>Write once, publish everywhere.</strong>
    %li#branchout
      %h3 Branch out.
      %p
        Arbor Web Solutions strives for personal relationships with each of 
        our clients. Building a modern website is a complicated process, and done right, the 
        results can strengthen your business for years to come. <strong>We want you 
        to be happy with the result</strong>, and that requires clients who relish 
        a dialogue about their site and who are willing to do a little “homework” 
        to help us discover how to make the site as effective as possible. If that 
        sounds like you, <a href="/contact">get in touch</a> and let us 
        know how we can turn your dreams into a real, live website.
